@import '~@angular/material/theming';

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

.transcript md-card-content {
  margin: 0 -24px;
}

.header {
  display: flex;
}

.header .title {
  flex-grow: 1;
}

.header .grades-toggle {
  margin: 0;
}

.gpa-header {
  padding: 0 10px 4px;
  text-align: right;
}

md-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  opacity: 0;
  transition: $swift-ease-in-out;
}

md-progress-bar.visible {
  height: 2px;
  opacity: 1;
}

:host /deep/ .mat-input-subscript-wrapper {
  overflow: visible;
}

.error {
  color: red;
  white-space: nowrap;
}