.sidebar {
  margin: 0 12px;
  margin-top: -22px;
  padding-bottom: 0;
}

.sidebar.transcript md-card-content {
  margin: 0 -24px;
}

.sidebar .header {
  display: flex;
}

.sidebar .header .title {
  flex-grow: 1;
}

.sidebar .header .grades-toggle {
  margin: 0;
}

.sidebar .error {
  color: red;
  white-space: nowrap;
}