<!-- Render a recursive node. -->
<div class="node">
  <div class="subheader" (click)="toggle()" *ngIf="!root">
    <md-icon [ngClass]="{'flip': hide}">expand_more</md-icon>
    <div class="text" *ngIf="!complete">
      <ng-container *ngIf="minRequire == requirement.requirements.length">All</ng-container>
      <ng-container *ngIf="minRequire != requirement.requirements.length">{{minRequire}}</ng-container>
      of the following
    </div>
    <div class="text muted" *ngIf="complete">
      <ng-container *ngIf="minRequire == 1">1 requirement</ng-container>
      <ng-container *ngIf="minRequire != 1">{{minRequire}} requirements</ng-container>
      <ng-container *ngIf="force">ignored</ng-container>
      <ng-container *ngIf="!force">finished</ng-container>
    </div>
  </div>
  <div class="children" *ngIf="!hide || root">
    <ng-container *ngFor="let node of requirement.requirements">
      <cig-requirement-node *ngIf="!isLeaf(node)" #subnode [requirement]="node"></cig-requirement-node>
      <cig-requirement-leaf *ngIf="isLeaf(node)" [requirement]="node"></cig-requirement-leaf>
    </ng-container>
  </div>
</div>