<div class="theme {{institutionTheme}}">
  <md-toolbar color="primary">
    Can I Graduate? - {{institutionName}}
  </md-toolbar>
  <div class="body">
    <md-tab-group [selectedIndex]="selectedIndex" class="content" (selectChange)="changeTab($event)">
      <md-tab label="Catalog">
        <router-outlet name="catalog"></router-outlet>
      </md-tab>
      <md-tab label="Course Search">
        <router-outlet name="search"></router-outlet>
      </md-tab>
      <md-tab label="Watches">
        <router-outelet name="watches"></router-outelet>
      </md-tab>
    </md-tab-group>
    <cig-sidebar></cig-sidebar>
  </div>
</div>