<div class="root theme {{institutionTheme}}">
  <md-toolbar color="primary">
    {{institutionName}}
    <nav md-tab-nav-bar>
      <a md-tab-link *ngFor="let link of links" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </md-toolbar>
  <div class="body">
    <div class="content">
      <router-outlet name="content"></router-outlet>
    </div>
    <div class="sidebar">
      <router-outlet name="sidebar"></router-outlet>
    </div>
  </div>
  <footer>
    <h3>Can I Graduate?</h3>
    <p>DISCLAIMER: The data presented is not guaranteed to be correct. Periodically verify your requirements with your academic
      advisor prior to graduation.</p>
    <p>Looking for APIs or statistical data? Questions or comments? <a href="mailto:kdwang@uchicago.edu">Email me!</a></p>
    <p>This site is not affiliated with {{institutionName}}.</p>
    <p>&copy; 2017 Kevin Wang - <a href="https://github.com/kevmo314/canigraduate.uchicago.edu">GitHub</a></p>
  </footer>
</div>