.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.body {
	display: flex;
}

.body, .content {
	flex-grow: 1;
}

md-tab-group {
  flex-grow: 1;
  min-width: 0;
}

.frame {
  padding: 16px 32px;
}

cig-sidebar {
  flex: 0 0 540px;
}

footer {
  background-color: #444;
  color: #bbb;
  padding: 16px;
  font-size: 12px;
}

footer h3 {
  color: #080808;
  font-size: 24px;
  margin: 0;
  float: right;
  text-shadow: 0 1px 1px #555;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: white;
}