<div class="description">{{description | async}}</div>

<md-tab-group>
  <md-tab label="Sections">
    <div class="sections">
      <ng-container *ngFor="let term of terms | slice:0:numTerms">
        <cig-section *ngFor="let section of sectionsByTerm(term)" [section]="section" [evaluation]="evaluations | async | matchSection:term:section.id"></cig-section>
      </ng-container>
      <button *ngIf="numTerms < terms.length" (click)="showNextTerm()" md-button>
        <md-icon>history</md-icon>
        Show {{terms[numTerms]}}
      </button>
    </div>
  </md-tab>
  <md-tab label="Grades">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="Metadata">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>