.description {
  margin: 8px 16px;
  line-height: 20px;
  font-size: 13px;
}

button {
  width: 100%;
}

.row {
  display: flex;
}

.sections, .grades {
  padding: 0 16px;
  font-size: 12px;
}

.sections {
  flex: 2 0 1px;
}

.grades {
  flex: 1 0 1px;
}

.centered-icon {
  vertical-align: middle;
}

.section:not(:last-child) {
  & /deep/ .primaries, & /deep/ .enrollment {
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 4px;
  }
}

.term:not(:last-child) {
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 4px;
}

.term-header {
  font-weight: bold;
  margin: 4px 0;
}