.grade {
  display: flex;
  align-items: center;
}

.label {
  text-align: right;
  border-right: 1px solid black;
}

.bar {
  background-color: #800000;
  flex-grow: 1;
  height: 14px;
}

.label, .count {
  flex: 0 0 30px;
}

.no-data {
  padding: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}