.section-header {
  display: flex;
  width: 100%;
}

.identifier {
  flex: 0 0 30px;
  text-align: right;
  margin-right: 8px;
}

.enrollment {
  flex: 0 0 50px;
  white-space: nowrap;
  text-align: right;
}

.type {
  flex: 0 0 75px;
}

.primaries {
  flex-grow: 1;
}

.primary {
  display: flex;
}

.location {
  margin-right: 8px;
}

.instructors {
  flex-grow: 1;
}