<div class="section-header">
  <div class="identifier">§{{section.id}}</div>
  <div class="primaries">
    <div *ngFor="let primary of section.primaries" class="primary">
      <div class="type">{{primary.type}}</div>
      <div class="instructors">{{primary.instructors?.join(', ')}}</div>
      <div class="location">{{primary.location}}</div>
      <cig-schedule-indicator [schedule]="primary.schedule" class="schedule"></cig-schedule-indicator>
    </div>
  </div>
  <div class="enrollment">{{enrollment}}/{{enrollmentLimit}}</div>
  <div class="evaluations" *ngIf="evaluation">
    <a href="{{evaluation.href}}">Course Evaluations</a>
  </div>
</div>
<div *ngFor="let notes of section.notes" class="notes">{{notes}}</div>