@import '~@angular/material/core/style/variables';

span {
  background-color: lightgrey;
  border-radius: 4px;
  font-size: 12px;
  margin: 0 1px;
  width: 18px;
  display: inline-block;
  text-align: center;
  color: white;
  padding: 1px;
  vertical-align: middle;
  transition: $swift-ease-in-out;
}