[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

"beautifulsoup4" = "*"
bitarray = "*"
flask = "*"
flask-cors = "==3.0.2"
"jinja2" = "==2.8"
lxml = "*"
pyrebase = "==3.0.27"
requests = "*"
uwsgi = "==2.0.14"
firebase-admin = "*"
pyspark = "*"
