[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

setuptools = "*"


[packages]

"beautifulsoup4" = "*"
bitarray = "*"
flask = "*"
flask-cors = "*"
"jinja2" = "*"
lxml = "*"
pyrebase = "*"
requests = "*"
uwsgi = "*"
firebase-admin = "*"
pyspark = "*"
