[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

setuptools = "*"
psutil = "*"


[packages]

"beautifulsoup4" = "*"
bitarray = "*"
lxml = "*"
requests = "*"
firebase-admin = "*"
pyspark = "*"
