<div class="course-search">
  <md-card>
    <md-card-header>
        Filters
    </md-card-header>
    <md-card-content>
      Show
      <md-chip-list>
        <md-chip [selected]="filters.monday"
                 (click)="filters.monday=!filters.monday">Monday</md-chip>
        <md-chip [selected]="filters.tuesday"
                 (click)="filters.tuesday=!filters.tuesday">Tuesday</md-chip>
        <md-chip [selected]="filters.wednesday"
                 (click)="filters.wednesday=!filters.wednesday">Wednesday</md-chip>
        <md-chip [selected]="filters.thursday"
                 (click)="filters.thursday=!filters.thursday">Thursday</md-chip>
        <md-chip [selected]="filters.friday"
                 (click)="filters.friday=!filters.friday">Friday</md-chip>
        <md-chip [selected]="filters.saturday"
                 (click)="filters.saturday=!filters.saturday">Saturday</md-chip>
        <md-chip [selected]="filters.sunday"
                 (click)="filters.sunday=!filters.sunday">Sunday</md-chip>
      </md-chip-list>
    </md-card-content>  
  </md-card>
</div>