<md-card class="filters">
  <md-card-content>
    <cig-section-filters [days]="days | async" (daysChange)="setDays($event)" [periods]="periods | async" (periodsChange)="setPeriods($event)"
      [instructors]="instructors | async" (instructorsChange)="setInstructors($event)" [departments]="departments | async"
      (departmentsChange)="setDepartments($event)" [taken]="taken|async" (takenChange)="setTaken($event)" [tested]="tested|async"
      (testedChange)="setTested($event)" [prerequisites]="prerequisites|async" (prerequisitesChange)="setPrerequisites($event)"
      [core]="core|async" (coreChange)="setCore($event)"></cig-section-filters>
  </md-card-content>
</md-card>
<md-card class="query" (click)="queryInput.focus()">
  <md-card-content>
    <md-icon>search</md-icon>
    <input type="text" placeholder="Math 161" [ngModel]="query | async" (ngModelChange)="setQuery($event)" #queryInput>
  </md-card-content>
</md-card>