<md-card class="sidebar">
  <md-card-title>Card with title</md-card-title> 
  <md-card-content>
    <p><strong>Can I Graduate?</strong> works better if you're signed in. Enter your UChicago CNetID and password to import your data from AIS.</p>
    <md-input-container><input md-input placeholder="CNetID"></md-input-container>
    <md-input-container>
      <input md-input placeholder="Password" type="password">
    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary">Sign In</button> or don't.
  </md-card-actions>
</md-card>