<div class="course-search">
  <md-card>
    <md-card-content>
      <md-list>
        <md-list-item>
          Show
          <md-button-toggle-group multiple>
            <md-button-toggle [(checked)]="monday">
              <span fxHide="false" fxHide.gt-md>M</span>
              <span fxShow="false" fxShow.gt-md>Monday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="tuesday">
              <span fxHide="false" fxHide.gt-md>T</span>
              <span fxShow="false" fxShow.gt-md>Tuesday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="wednesday">
              <span fxHide="false" fxHide.gt-md>W</span>
              <span fxShow="false" fxShow.gt-md>Wednesday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="thursday">
              <span fxHide="false" fxHide.gt-md>Th</span>
              <span fxShow="false" fxShow.gt-md>Thursday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="friday">
              <span fxHide="false" fxHide.gt-md>F</span>
              <span fxShow="false" fxShow.gt-md>Friday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="saturday">
              <span fxHide="false" fxHide.gt-md>Sa</span>
              <span fxShow="false" fxShow.gt-md>Saturday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="sunday">
              <span fxHide="false" fxHide.gt-md>Su</span>
              <span fxShow="false" fxShow.gt-md>Sunday</span>
            </md-button-toggle>
          </md-button-toggle-group>
        </md-list-item>
        <md-list-item>
          Show
          <md-button-toggle-group multiple>
            <md-button-toggle 
              class="custom"
              *ngFor="let period of periods"
              [checked]="filters.getPeriodFilter(period)"
              (change)="filters.setPeriodFilter(period, $event.source.checked)"
              [ngStyle]="{'background-color': (periodButtonToggle.checked ? period.color : null),
                          'color': (periodButtonToggle.checked ? 'white' : null)}"
              #periodButtonToggle>
              {{period.name}}
            </md-button-toggle>
          </md-button-toggle-group>
        </md-list-item>
        <md-list-item>
          Show departments:
        </md-list-item>
        <md-list-item>
          Show sections taught by:
        </md-list-item>
        <md-list-item>
          Hide classes that
          <md-button-toggle [(checked)]="filters.taken">I've taken</md-button-toggle>
          <md-button-toggle [(checked)]="filters.tested">I've tested out of</md-button-toggle>
          <md-button-toggle [(checked)]="filters.prerequisite">I don't have prereqs for</md-button-toggle>
          <md-button-toggle [(checked)]="filters.core">are core reqs</md-button-toggle>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <div class="results">
    <div class="header">
      Showing {{results.length}} results
    </div>
    <md-list>
      <md-list-item *ngFor="let result of results">
        <cig-search-result [result]="result"></cig-search-result>
      </md-list-item>
    </md-list>
  </div>
</div>