.course-search {
  padding: 16px;
}

.filters, .query {
  padding: 8px 16px;
}

.query {
  margin: 16px 0;
  cursor: text;
}

.query md-card-content {
  display: flex;
  align-items: center;
}

.query md-card-content md-icon {
  flex-shrink: 0;
  padding-right: 8px;
}

.query md-card-content input {
  flex-grow: 1;
  border: 0;
  outline: none;
}

.results {
  margin-top: 16px;
}

.results md-card {
  padding: 0;
}

.results .metadata {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  font-size: 12px;
}
