@import '~@angular/material/theming';

.results {
  margin-top: 16px;
  transition: opacity 0.3s ease-in-out;
}

.results.loading {
  opacity: 0.4;
}

.results .metadata {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  font-size: 12px;
}
