@import '~@angular/material/core/style/variables';

.course-search {
  padding: 16px 32px;
}

.results {
  margin-top: 16px;
}

.results md-card {
  padding: 0;
  margin: 0;
  transition: $swift-ease-in-out;
}

.results md-card.expanded {
  margin: 16px -16px;
}

.results .metadata {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  font-size: 12px;
}
