<div class="course-search">
  <md-card class="filters">
    <md-card-content>
      <form>
        <div class="form-group">
          Show
          <md-button-toggle-group multiple>
            <md-button-toggle [(checked)]="filters.monday">
              <span fxHide="false" fxHide.gt-md>M</span>
              <span fxShow="false" fxShow.gt-md>Monday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="filters.tuesday">
              <span fxHide="false" fxHide.gt-md>T</span>
              <span fxShow="false" fxShow.gt-md>Tuesday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="filters.wednesday">
              <span fxHide="false" fxHide.gt-md>W</span>
              <span fxShow="false" fxShow.gt-md>Wednesday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="filters.thursday">
              <span fxHide="false" fxHide.gt-md>Th</span>
              <span fxShow="false" fxShow.gt-md>Thursday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="filters.friday">
              <span fxHide="false" fxHide.gt-md>F</span>
              <span fxShow="false" fxShow.gt-md>Friday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="filters.saturday">
              <span fxHide="false" fxHide.gt-md>Sa</span>
              <span fxShow="false" fxShow.gt-md>Saturday</span>
            </md-button-toggle>
            <md-button-toggle [(checked)]="filters.sunday">
              <span fxHide="false" fxHide.gt-md>Su</span>
              <span fxShow="false" fxShow.gt-md>Sunday</span>
            </md-button-toggle>
          </md-button-toggle-group>
        </div>
        <div class="form-group">
          Show
          <md-button-toggle-group multiple>
            <md-button-toggle 
              class="custom"
              *ngFor="let period of periods"
              [checked]="filters.getPeriodFilter(period)"
              (change)="filters.setPeriodFilter(period, $event.source.checked)"
              [ngStyle]="{'background-color': (periodButtonToggle.checked ? period.color : null),
                          'color': (periodButtonToggle.checked ? 'white' : null)}"
              #periodButtonToggle>
              {{period.name}}
            </md-button-toggle>
          </md-button-toggle-group>
        </div>
        <div class="form-group">
          Show departments:
          <md-input-container>
            <md-chip-list mdPrefix>
              <md-chip *ngFor="let department of filters.departments">{{department}}</md-chip>
            </md-chip-list>
            <input
              type="text"
              mdInput
              #departmentInput
              [formControl]="departmentControl"
              (change)="addDepartment(departmentInput.value);departmentInput.value = '';departmentAutocomplete.showPanel = false"
              [mdAutocomplete]="departmentAutocomplete">
          </md-input-container>
          <md-autocomplete #departmentAutocomplete="mdAutocomplete">
            <md-option *ngFor="let option of filteredDepartments | async" [value]="option">{{option}}</md-option>
          </md-autocomplete>
        </div>
        <div class="form-group">
          Show sections taught by:
          <md-input-container>
            <md-chip-list mdPrefix>
              <md-chip *ngFor="let instructor of filters.instructors">{{instructor}}</md-chip>
            </md-chip-list>
            <input
              type="text"
              mdInput
              #instructorInput
              [formControl]="instructorControl"
              (change)="addInstructor(instructorInput.value);instructorInput.value = '';instructorAutocomplete.showPanel = false"
              [mdAutocomplete]="instructorAutocomplete">
          </md-input-container>
          <md-autocomplete #instructorAutocomplete="mdAutocomplete">
            <md-option *ngFor="let option of filteredInstructors | async | slice:0:10" [value]="option">{{option}}</md-option>
          </md-autocomplete>
        </div>
        <div class="form-group">
          Hide classes that
          <md-button-toggle [(checked)]="filters.taken">I've taken</md-button-toggle>
          <md-button-toggle [(checked)]="filters.tested">I've tested out of</md-button-toggle>
          <md-button-toggle [(checked)]="filters.prerequisite">I don't have prereqs for</md-button-toggle>
          <md-button-toggle [(checked)]="filters.core">are core reqs</md-button-toggle>
        </div>
      </form>
    </md-card-content>
  </md-card>
  <md-card class="query" (click)="query.focus()">
    <md-card-content>
      <md-icon>search</md-icon>
      <input type="text" placeholder="Math 161" [(ngModel)]="filters.query" #query>
    </md-card-content>
  </md-card>
  <div class="results">
    <div class="header">
      Showing {{results.length}} results
    </div>
    <md-list>
      <md-list-item *ngFor="let result of results">
        <cig-search-result [result]="result"></cig-search-result>
      </md-list-item>
    </md-list>
  </div>
</div>