:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buffer {
    width: 40px;
    height: 36px;
}

button[md-button] {
    min-width: 40px;
    padding: 0;
}

.pages {
    height: 36px;
    overflow-y: hidden;
}

button[md-button].active {
    /* TODO: Change to environment color. */
    background-color: maroon;
    color: white;
    border-radius: 2px;
}