<ng-container *ngIf="getLastPage() > 0">
  <button md-button (click)="pageChange.emit(page - 1)" [disabled]="page == 0" class="directional-button">
    <md-icon>chevron_left</md-icon>
  </button>
  <ng-container *ngFor="let p of pages">
    <button md-button (click)="pageChange.emit(p)" [ngClass]="{'active': page == p}" *ngIf="p != -1">{{p + 1}}</button>
    <div class="ellipsis" *ngIf="p == -1">...</div>
  </ng-container>
  <button md-button (click)="pageChange.emit(page + 1)" [disabled]="page == getLastPage()" class="directional-button">
    <md-icon>chevron_right</md-icon>
  </button>
</ng-container>