@import '~@angular/material/theming';

:host {
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buffer {
  width: 40px;
  height: 36px;
}

.ellipsis {
  width: 40px;
  margin: 0 4px;
  text-align: center;
}

button[md-button].directional-button {
  min-width: 24px;
  height: 24px;
  display: flex;
  
  & /deep/ .mat-button-wrapper {
    line-height: 24px;
  }
}

button[md-button] {
  @include mat-elevation(2);
  min-width: 40px;
  padding: 0;
  background-color: white;
  transition: mat-elevation-transition-property-value(), background-color 250ms $ease-in-out-curve-function, color 250ms $ease-in-out-curve-function;
  border-radius: 4px;
  margin: 0 4px;

  &.active {
    /* TODO: Change to environment color. */
    background-color: maroon;
    color: white;
    @include mat-elevation(4);
  }
}

.pages {
  height: 36px;
  overflow-y: hidden;
}

