:host {
  display: flex;
  white-space: nowrap;
  width: 100%;
}

.id {
  flex: 0 0 110px;
  padding-right: 8px;
  text-align: right;
  padding-bottom: 14px;
}

.description {
  overflow: hidden;
}

.crosslists {
  font-style: italic;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}