<div cigRequirementLeaf #leaf="cigRequirementLeaf" *ngIf="isLeaf" class="leaf" [requirement]="requirement">
  <!-- Render a leaf node. -->
  <div class="id">{{leaf.displayName}}</div>
  {{leaf.isExplicitRequirement}}
  <cig-course-name *ngIf="leaf.isExplicitRequirement" class="name" [course]="leaf.requirement"></cig-course-name>
  <div *ngIf="!leaf.isExplicitRequirement">Elective</div>
</div>
<div *ngIf="!isLeaf">
  <!-- Render a recursive node. -->
  <div class="header">
    <ng-container *ngIf="!complete">
      <ng-container *ngIf="minRequire == requirement.requirements.length">All</ng-container>
      <ng-container *ngIf="minRequire != requirement.requirements.length">{{minRequire}}</ng-container>
      of the following
    </ng-container>
    <ng-container *ngIf="complete">
      <ng-container *ngIf="minRequire == 1">1 requirement</ng-container>
      <ng-container *ngIf="minRequire != 1">{{minRequire}} requirements</ng-container>
      <ng-container *ngIf="force">ignored</ng-container>
      <ng-container *ngIf="!force">finished</ng-container>
    </ng-container>
  </div>
  <div class="node">
    <cig-requirement-node *ngFor="let child of requirement.requirements" [requirement]="child"></cig-requirement-node>
  </div>
</div>