.node {
  padding: 8px;
  border: 1px solid rgba(0,0,0,.12);
  margin: 8px 0;
  border-radius: 2px;
}

.subheader {
  cursor: pointer;
  display: flex;
}

.subheader md-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  padding: 3px;
  margin-right: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.subheader md-icon.flip {
  transform: rotate(-180deg);
}

.subheader .text {
  font-size: 13px;
  line-height: 24px;
  font-weight: medium;
}

.subheader .text.muted {
  color: rgba(0,0,0,.54);
}

.children {
  transition: max-height 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  max-height: 10000px;
  overflow: hidden;
}

.children.hidden {
  max-height: 0;
}